
#pp{
    direction: rtl;
    font-size: medium;
    margin-right: 7%;
    margin-left: 7%;
    grid-column: 1/4;
}

.p{
    direction: rtl;
    font-size: xx-large;
    color: #0468aa;
    margin-right: 40%;
    margin-top: 0;
}

#address{
    direction: rtl;
    font-size: small;
    margin-right: 7%;
    grid-column: 1/4;
}

#center, #allEvent{
    width: 87%;
    margin: 2% 7% 1% 7%;
}

#contec{
    margin-top: 12%;
    margin-right: 7%;
    direction: rtl;
}

h4{
    color: #000;
    display: inline;
    font-weight: normal;
}

a{
    text-decoration: none;
}

.a{
    margin: 3% 40% 3% 40%;
}

.a span{
    background: rgba(11, 55, 73, 0.692) !important
}

#contec a :hover{
    font-size: large;
}

.title span{
    background: #1170c6;
    color: #fff;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0 1rem
}

.title{
    font-size: 2rem;
    direction: rtl;
}

div .title{
    margin-top: -2.5%;
    margin-right: 6.5%;
}

#main{
    display: flex;
}

#diffrent{
margin-top: 13%;
}

